<h1>Stupid coaching</h1>
<div class=toptext>
  <p><%= @question %></p>
  <p><em>-You</em></p>
</div>
<div class="qanda">
  <p><%= @answer %></p>
  <p><em>Your coach</em></p>
</div>

<p class="text" style="text-decoration:none;" ><%= link_to "Ask another question", ask_path %></p>
